body {
    font-family: Arial, sans-serif;
    background: url('WEB_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #1a73e8; /* Ярък син цвят (GitHub бутона) */
    text-align: center;
    padding: 50px;
}

h1, h2, h3, p, a {
    color: #1a73e8 !important; /* Всички заглавия, параграфи и линкове */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Добавяне на малка сянка за по-добра четимост */
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0d47a1; /* По-тъмен син при ховър */
}
