body {
    font-family: Arial, sans-serif;
    background: url('WEB_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #263a52; /* Светлосин цвят */
    text-align: center;
    padding: 50px;
}

h1, h2, h3, p, a {
    color: #263a52 !important; /* Всички надписи със светлосин цвят */
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #1a73e8; /* По-ярък ефект при ховър */
}
